# 表格基本操作

pandas的操作都比较傻瓜,只要引入包后调用对应类或者函数即可,可以在任何交互界面中执行(当然最推荐的还是Jupyter 即原 ipython)这也是有的人更加喜欢pandas而不喜欢excel的原因.我们以之前的iris作为例子

In [1]:
import pandas as pd
iris_data = pd.read_csv("source/iris.csv")
iris_data[:5]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## 数据过滤

就像透视表一样,我们可以有选择性的查看表格

In [2]:
iris_data[iris_data["class"]=="Iris-virginica"][::10]

     sepal_length  sepal_width  petal_length  petal_width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
110           6.5          3.2           5.1          2.0  Iris-virginica
120           6.9          3.2           5.7          2.3  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica

In [3]:
iris_data[iris_data["petal_width"]>iris_data["petal_width"].mean()][::10]

     sepal_length  sepal_width  petal_length  petal_width            class
50            7.0          3.2           4.7          1.4  Iris-versicolor
63            6.1          2.9           4.7          1.4  Iris-versicolor
75            6.6          3.0           4.4          1.4  Iris-versicolor
88            5.6          3.0           4.1          1.3  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
110           6.5          3.2           5.1          2.0   Iris-virginica
120           6.9          3.2           5.7          2.3   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica

## 排序sort

比如我们根据sepal_length做降序排列

In [4]:
biggest5_sl_iris = iris_data.sort('sepal_length',ascending=False)[:5]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [5]:
biggest5_sl_iris

     sepal_length  sepal_width  petal_length  petal_width           class
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

再把序号排排序

In [6]:
biggest5_sl_iris.sort(ascending=False)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

     sepal_length  sepal_width  petal_length  petal_width           class
135           7.7          3.0           6.1          2.3  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica

## 排名rank

In [7]:
biggest5_sl_iris.rank(method="min",numeric_only = True)

     sepal_length  sepal_width  petal_length  petal_width
131           5.0          4.0           2.0          1.0
135           1.0          3.0           1.0          4.0
122           1.0          2.0           3.0          1.0
117           1.0          4.0           3.0          3.0
118           1.0          1.0           5.0          4.0

## 选择,切片操作

切片可以用来准确的提取需要的数据

pandas支持多种切片方式

### 间隔切片

In [8]:
iris_data[::20]#每20行取一次

     sepal_length  sepal_width  petal_length  petal_width            class
0             5.1          3.5           1.4          0.2      Iris-setosa
20            5.4          3.4           1.7          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
60            5.0          2.0           3.5          1.0  Iris-versicolor
80            5.5          2.4           3.8          1.1  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
120           6.9          3.2           5.7          2.3   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica

### 连续数据段提取

In [9]:
iris_data[5:10]#取第5到第9行

   sepal_length  sepal_width  petal_length  petal_width        class
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

### 提取某一行

In [10]:
iris_data.loc[5] #取第5行的数据

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

或者

In [11]:
iris_data.ix[5] #取第5行的数据

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

## 投影操作

所谓投影和数据库中差不多,就是取列(取属性),简单的方式就是用`[]`圈住需要的列号或者列名

In [12]:
iris_data["sepal_length"][:5]#取某列

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [13]:
iris_data.sepal_length[:5]#同样地取某列

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [14]:
iris_data[["sepal_length","petal_width"]][:5]#取两列

   sepal_length  petal_width
0           5.1          0.2
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2

## **iloc **位置坐标操作

简单粗暴的直接查看对应坐标,第一位参数是行,第二位是列

In [15]:
iris_data.iloc[5]#取第5行的数据

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

In [16]:
iris_data.iloc[0,2:4]#取第一行第3个数据和第四个数据

petal_length    1.4
petal_width     0.2
Name: 0, dtype: object

## 增加一列元素

增加一列只需要在原数据上后面用`[]`填入要新增的元素即可,注意这个操作是对源数据的修改,如果希望源数据不变,先copy再增加

In [17]:
people_fromExcel = pd.read_excel('./source/people.xlsx', u'工作表1', index_col=None, na_values=['NA'])

people_Data = people_fromExcel.append(pd.DataFrame([["Hao",24]],columns = ["name","age"])).reset_index(drop=True)
people_Data

      name   age
0  Michael   NaN
1     Andy  30.0
2   Justin  19.0
3      Hao  24.0

In [18]:
people_Data["nation"] = ["USA","UK","AUS","PRC"]

In [19]:
people_Data

      name   age nation
0  Michael   NaN    USA
1     Andy  30.0     UK
2   Justin  19.0    AUS
3      Hao  24.0    PRC

也可以只输入一个值,这样就全部都是都是它了

In [20]:
people_Data[u"星球"] = u"地球"
people_Data

      name   age nation  星球
0  Michael   NaN    USA  地球
1     Andy  30.0     UK  地球
2   Justin  19.0    AUS  地球
3      Hao  24.0    PRC  地球

## pandas的函数操作

由于python本身对函数式编程的支持,以及pandas底层依赖的numpy优秀的向量化计算能力,pandas可以使用类似Universal  Function的方式向量化的求值.
例:求出iris三类的信息熵

In [21]:
import scipy as sp

In [22]:
slogs = lambda x:sp.log(x)*x
entropy = lambda x:sp.exp((slogs(x.sum())-x.map(slogs).sum())/x.sum())
iris_data.groupby("class").agg(entropy)

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa         49.878745    49.695242     49.654909    45.810069
Iris-versicolor     49.815081    49.680665     49.694505    49.452305
Iris-virginica      49.772059    49.714500     49.761700    49.545918

### 广播

所谓广播就是一个矢量和一个标量的运算,所有矢量中元素都被同样的操作,pandas可以支持这种操作

In [23]:
data1 = iris_data[:10].copy()
data1

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [24]:
data1*10

,sepal_length,sepal_width,petal_length,petal_width,class
0,51.0,35.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
1,49.0,30.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
2,47.0,32.0,13.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
3,46.0,31.0,15.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
4,50.0,36.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
5,54.0,39.0,17.0,4.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
6,46.0,34.0,14.0,3.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
7,50.0,34.0,15.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
8,44.0,29.0,14.0,2.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...
9,49.0,31.0,15.0,1.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...

In [25]:
data1["sepal_length"]*10

0    51.0
1    49.0
2    47.0
3    46.0
4    50.0
5    54.0
6    46.0
7    50.0
8    44.0
9    49.0
Name: sepal_length, dtype: float64

### universal functiion

In [26]:
import numpy as np

In [27]:
np.exp(data1["sepal_length"])
f_npexp = np.frompyfunc(lambda x :np.exp(x)+1,1,1)
f_npexp(data1["sepal_length"])

0    165.022
1     135.29
2    110.947
3    100.484
4    149.413
5    222.406
6    100.484
7    149.413
8    82.4509
9     135.29
Name: sepal_length, dtype: object

## 基本的统计功能

### pandas内置基本的统计功能

函数|作用
---|---
count|非NA值数量
describe|汇总统计
mean|求均值
min/max|最小最大值
argmin/argmax|获取最小最大值的index位置
idxmin/idxmax|获取最小最大值的index
quantile|计算分位数
sum|求和
median|中位数
mad|根据均值计算平局绝对离差
var|方差
std|标准差
skew|偏度(三阶矩)
kurt|锋度(四阶矩)
cumsum|累计和
cummin/cummax|累计最小值累计最大值
cumprod|累计积
diff|一阶差分(对时间序列很有用)
pct_change|百分数变化
corr|相关系数
cov|协方差

In [28]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [29]:
iris_data[["sepal_length","sepal_width","petal_length","petal_width"]].pct_change()[1:].tail()

     sepal_length  sepal_width  petal_length  petal_width
145      0.000000    -0.090909     -0.087719    -0.080000
146     -0.059701    -0.166667     -0.038462    -0.173913
147      0.031746     0.200000      0.040000     0.052632
148     -0.046154     0.133333      0.038462     0.150000
149     -0.048387    -0.117647     -0.055556    -0.217391

In [30]:
iris_data[["sepal_length","sepal_width","petal_length","petal_width"]].pct_change()[1:].sepal_length.corr(iris_data.petal_length)

0.15569820981689295

In [31]:
iris_data[["sepal_length","sepal_width","petal_length","petal_width"]].corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [32]:
iris_data[["sepal_length","sepal_width","petal_length","petal_width"]].cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

### 抽样

抽样的话,pandas提供了sample()方法可以做简单的抽样
你可以选择是有放回还是无放回的

In [33]:
iris_data_test=iris_data.sample(frac=0.4)
iris_data_test = iris_data_test.sort()
iris_data_test[:5]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  from ipykernel import kernelapp as app

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

剩余的数据可以这样得到

In [34]:
iris_data_train=iris_data.drop(iris_data_test.index)
iris_data_train[:5]

    sepal_length  sepal_width  petal_length  petal_width        class
4            5.0          3.6           1.4          0.2  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa

也可以设定别的你自己的抽样方式,比如我觉得我希望用每行数据摇色子的方式确定是否进入样本,那么可以这样

In [35]:
import random

In [36]:
temp = iris_data.copy()
temp["cc"]=[random.random() for i in range(len(iris_data))]
len(iris_data[temp["cc"]>0.3])

110

In [37]:
len(iris_data[temp["cc"]<=0.3])

40