# 分组与集聚

我们处理数据有时候会有分组的需求,比如统计的是全年龄段的人的,但我们可能会按年龄分组成老中青三组,可能会分成男女两组.

也有时候我们统计一份问卷,需要将数据转置

In [1]:
import pandas as pd
import numpy as np

## 转置

比如我们有这样的一组多选问卷结果统计

In [2]:
d = {'a':[1,0,0,1,0,1,1,0,1,0],
     'b':[0,0,1,1,1,0,1,0,1,0],
     "c":[1,0,0,0,0,1,0,1,0,0],
     "d":[1,0,0,1,0,1,1,0,1,1]}
i = ["no.{n}".format(n=i) for i in range(10)]

In [3]:
df = pd.DataFrame(data = d, index = i)
df

      a  b  c  d
no.0  1  0  1  1
no.1  0  0  0  0
no.2  0  1  0  0
no.3  1  1  0  1
no.4  0  1  0  0
no.5  1  0  1  1
no.6  1  1  0  1
no.7  0  0  1  0
no.8  1  1  0  1
no.9  0  0  0  1

转置只需要使用T方法

In [4]:
df.T

   no.0  no.1  no.2  no.3  no.4  no.5  no.6  no.7  no.8  no.9
a     1     0     0     1     0     1     1     0     1     0
b     0     0     1     1     1     0     1     0     1     0
c     1     0     0     0     0     1     0     1     0     0
d     1     0     0     1     0     1     1     0     1     1

## 堆积操作

还是之前的多选问题,如果我们想把它堆积起来成为一个有多重索引的序列,可以使用`stack()`方法

In [5]:
stack = df.stack()
stack

no.0  a    1
      b    0
      c    1
      d    1
no.1  a    0
      b    0
      c    0
      d    0
no.2  a    0
      b    1
      c    0
      d    0
no.3  a    1
      b    1
      c    0
      d    1
no.4  a    0
      b    1
      c    0
      d    0
no.5  a    1
      b    0
      c    1
      d    1
no.6  a    1
      b    1
      c    0
      d    1
no.7  a    0
      b    0
      c    1
      d    0
no.8  a    1
      b    1
      c    0
      d    1
no.9  a    0
      b    0
      c    0
      d    1
dtype: int64

In [6]:
stack["no.0"]

a    1
b    0
c    1
d    1
dtype: int64

也可以使用`unstack`汇总每个选项不同题目的结果

In [7]:
unstack = df.unstack()
unstack

a  no.0    1
   no.1    0
   no.2    0
   no.3    1
   no.4    0
   no.5    1
   no.6    1
   no.7    0
   no.8    1
   no.9    0
b  no.0    0
   no.1    0
   no.2    1
   no.3    1
   no.4    1
   no.5    0
   no.6    1
   no.7    0
   no.8    1
   no.9    0
c  no.0    1
   no.1    0
   no.2    0
   no.3    0
   no.4    0
   no.5    1
   no.6    0
   no.7    1
   no.8    0
   no.9    0
d  no.0    1
   no.1    0
   no.2    0
   no.3    1
   no.4    0
   no.5    1
   no.6    1
   no.7    0
   no.8    1
   no.9    1
dtype: int64

In [8]:
unstack["a"]

no.0    1
no.1    0
no.2    0
no.3    1
no.4    0
no.5    1
no.6    1
no.7    0
no.8    1
no.9    0
dtype: int64

## groupby

groupby的功能类似SQL的group by关键字: 

Split-Apply-Combine

+ Split,就是按照规则分组 
+ Apply,通过⼀一定的agg函数来获得输⼊入pd.Series返回⼀一个值的效果 
+ Combine,把结果收集起来

Pandas的groupby的灵活性:

+ 分组的关键字可以来⾃自于index,也可以来⾃自于真实的列数据 
+ 分组规则可以通过⼀一列或者多列

In [9]:
iris_data = pd.read_csv("./source/iris.data",header = None,encoding = "utf-8",
                        names=["sepal_length","sepal_width","petal_length","petal_width","class"])

In [10]:
iris_data[:5]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
iris_group = iris_data.groupby("class")

In [12]:
iris_group.sum()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             250.3        170.9          73.2         12.2
Iris-versicolor         296.8        138.5         213.0         66.3
Iris-virginica          329.4        148.7         277.6        101.3

In [13]:
iris_group.mean()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [14]:
for level,subset in iris_group:
    print(level)
    print(subset[:5])

Iris-setosa
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
Iris-versicolor
    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor
Iris-virginica
     sepal_length  sepal_width  petal_length  petal_width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

由此可见实际上groupby将表格拆分成了一组(分组名,子表)的键值对
之后的操作可以有:

> agg()方法

agg方法 是将由子表构成的序列作为参数操作,要求操作可以每个子表返回一个非序列的返回值,操作完成后生成新的表格

In [15]:
iris_group.agg(lambda x :"好")

                sepal_length sepal_width petal_length petal_width
class
Iris-setosa                好           好            好           好
Iris-versicolor            好           好            好           好
Iris-virginica             好           好            好           好

>transform()

transform方法对子表序列运算方法,分别运算完后结果放回对应的行,也就是说原来的表什么样算完结构一样但内容不一样了,和map有点像,但运算的时候序列不是1个总序列而是多个分开的子序列

In [16]:
iris_group.transform(lambda x:x - x.mean())[:5]

   sepal_length  sepal_width  petal_length  petal_width
0         0.094        0.082        -0.064       -0.044
1        -0.106       -0.418        -0.064       -0.044
2        -0.306       -0.218        -0.164       -0.044
3        -0.406       -0.318         0.036       -0.044
4        -0.006        0.182        -0.064       -0.044

### Categorical类型

现在pandas可以使用Categorical类型了,

In [17]:
iris_data[:5]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
iris_data["class"] = iris_data["class"].astype("category")

In [19]:
iris_data["class"][::20]

0          Iris-setosa
20         Iris-setosa
40         Iris-setosa
60     Iris-versicolor
80     Iris-versicolor
100     Iris-virginica
120     Iris-virginica
140     Iris-virginica
Name: class, dtype: category
Categories (3, object): [Iris-setosa, Iris-versicolor, Iris-virginica]

## 聚集

聚集操作一般是将多组数据合并到一张表格中

比如连接表格,我们可以使用函数`concat([tables...])`

In [20]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [21]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [22]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [23]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [24]:
result = pd.concat([df1,df2,df3])

In [25]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

`concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,keys=None, levels=None, names=None,verify_integrity=False,copy=True)`是concat的完整参数说明,

+ objs：一个序列或dict，dataframe，或Panel对象。

+ axis：{ 0，1，…}，默认值0。将沿哪个轴操作。

+ join：{'inner', 'outer'}，默认为'outer'。如何处理其他轴的索引,outer为求并,inner为求交集.

+ ignore_index：布尔值，默认为False。如果是True，则不使用索引值用于连接轴。由此产生的轴将被标记为(0，…，N - 1).常用于连接对象，连接轴为没有意义的索引信息。注意,其他轴上的索引值仍然在联接中有用.

+ join_axes：索引对象的列表。用于其他n - 1轴而不执行内/外集逻辑的特定索引.

+ keys：序列，默认无。使用传递key作为最外层级别构造分层索引.。如果多个层面通过，应包含元组。级别：序列列表，默认没有。具体水平（独特价值）用于构建多指标。否则，他们将从key推断。

+ names：列表，默认无。生成层次索引中的level的名称。

+ verify_integrity：布尔值，默认为false。检查新的连接轴是否包含重复。这相对真实的数据连接开销很大。

+ 拷贝：布尔值，默认值为。如果FALSE，不复制数据

### 为每组添加外层索引

In [26]:
pd.concat([df1,df2,df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [27]:
pd.concat({'x': df1, 'y': df2, 'z': df3})

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### 设置索引

In [28]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

In [29]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

### 横向聚集

In [30]:
pd.concat([df1, df4], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

### 使用交集

In [31]:
pd.concat([df1, df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

### 只合并特定的索引

In [32]:
pd.concat([df1, df4], axis=1, join_axes=[df1.index])

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

### 除了向下连接行,同样可以向右连接列序列

In [33]:
s3 = pd.Series([0, 1, 2, 3], name='foo')

s4 = pd.Series([0, 1, 2, 3])

s5 = pd.Series([0, 1, 4, 5])

pd.concat([s3, s4, s5], axis=1)

   foo  0  1
0    0  0  0
1    1  1  1
2    2  2  4
3    3  3  5

In [34]:
pd.concat([s3, s4, s5], axis=1, keys=['red','blue','yellow'])

   red  blue  yellow
0    0     0       0
1    1     1       1
2    2     2       4
3    3     3       5

### 使用append方法链式集聚

append(other, ignore_index=False, verify_integrity=False)并不想contact那样可以自己设定很多

In [35]:
df1.append(df2).append(df3)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [36]:
df1.append([df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [37]:
df1.append(df4)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

## 使用joining/merging类似在数据中一样的操作

### merging

有经验的关系型数据库用户都熟悉用于描述连接两个SQL表的术语merging。有几种情况要考虑：

+ 一对一的连接
+ 多对一的连接
+ 多对多联接

`pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,left_index=False, right_index=False, sort=True,suffixes=('_x', '_y'), copy=True, indicator=False)`

+ on 连接的列名。必须同时在左边和右边的df对象中。

+ left_on/right_on 用左边/右边的某列作为key。可以是列名或长度等于DataFrame长度的列

+ left_index/right_index  如果是真的，使用索引（行标签）从左/右边的key加入。在一个多指标数据帧的情况下，数量必须匹配从右/左变key加入的数量

+ how 如何merging,有“left”，“right”，“outer”，“inner”可选。默认为inner

Merge method|SQL Join Name|Description
---|---|---
left	|LEFT OUTER JOIN	|Use keys from left frame only
right	|RIGHT OUTER JOIN	|Use keys from right frame only
outer	|FULL OUTER JOIN	|Use union of keys from both frames
inner	|INNER JOIN	|Use intersection of keys from both frames

+ sort 将结果排序。默认为true，通常设置为FALSE将大大改善性能
+ suffixes 后缀
+ indicator 用于指示merge的行为,如果是真的，一个范畴类型列为`_merge`将被添加到输出对象需要的值

Observation Origin |	`_merge value`
---|---
Merge key only in 'left' frame	|`left_only`
Merge key only in 'right' frame	|`right_only`
Merge key in both frames	|both

#### 最一般的连接,通过key列连接

In [38]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

In [39]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [40]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [41]:
right

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

In [42]:
result = pd.merge(left, right, on='key')

In [43]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

#### 不同连接方式的不同结果

In [44]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

In [45]:
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [46]:
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [47]:
right

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [48]:
pd.merge(left, right, on=['key1', 'key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [49]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [50]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [51]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [52]:
pd.merge(left, right, how='inner', on=['key1', 'key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [53]:
df1 = pd.DataFrame({'col1': [0, 1], 'col_left':['a', 'b']})
df1

   col1 col_left
0     0        a
1     1        b

In [54]:
df2 = pd.DataFrame({'col1': [1, 2, 2],'col_right':[2, 2, 2]})

In [55]:
df2

   col1  col_right
0     1          2
1     2          2
2     2          2

In [56]:
pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only

In [57]:
pd.merge(df1, df2, on='col1', how='outer', indicator='indicator_column')

   col1 col_left  col_right indicator_column
0     0        a        NaN        left_only
1     1        b        2.0             both
2     2      NaN        2.0       right_only
3     2      NaN        2.0       right_only

### join方法

join之于merge就像上面的append之于contact,是一种简便方法

In [58]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [59]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [60]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [61]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [62]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [63]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

除了使用index索引作为key外,join也可以指定key

`left.join(right, on=key_or_keys)`

In [64]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})

In [65]:
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])

In [66]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [67]:
right

     C   D
K0  C0  D0
K1  C1  D1

In [68]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 针对多索引的join

In [69]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=pd.Index(['K0', 'K1', 'K2'], name='key'))

index = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),
                                   ('K2', 'Y2'), ('K2', 'Y3')],
                                    names=['key', 'Y'])
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                      index=index)

In [70]:
left

      A   B
key
K0   A0  B0
K1   A1  B1
K2   A2  B2

In [71]:
right

         C   D
key Y
K0  Y0  C0  D0
K1  Y1  C1  D1
K2  Y2  C2  D2
    Y3  C3  D3

In [72]:
index

MultiIndex(levels=[['K0', 'K1', 'K2'], ['Y0', 'Y1', 'Y2', 'Y3']],
           labels=[[0, 1, 2, 2], [0, 1, 2, 3]],
           names=['key', 'Y'])

In [73]:
left.join(right, how='inner')

         A   B   C   D
key Y
K0  Y0  A0  B0  C0  D0
K1  Y1  A1  B1  C1  D1
K2  Y2  A2  B2  C2  D2
    Y3  A2  B2  C3  D3

In [74]:
index = pd.MultiIndex.from_tuples([('K0', 'X0'), ('K0', 'X1'),
                                   ('K1', 'X2')],
                                   names=['key', 'X'])
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=index)

In [75]:
left

         A   B
key X
K0  X0  A0  B0
    X1  A1  B1
K1  X2  A2  B2

In [76]:
pd.merge(left.reset_index(), right.reset_index(),
                   on=['key'], how='inner').set_index(['key','X','Y'])

            A   B   C   D
key X  Y
K0  X0 Y0  A0  B0  C0  D0
    X1 Y0  A1  B1  C0  D0
K1  X2 Y1  A2  B2  C1  D1

## "打补丁"

另一个相当普遍的情况是有两个像索引（或类似的索引）系列或数据帧的对象，一个想在另一个上"打补丁",把空值填上,这时候可以使用`.combine_first`方法

In [77]:
df1 = pd.DataFrame([[np.nan, 3., 5.], 
                    [-4.6, np.nan, np.nan],
                    [np.nan, 7., np.nan]])

In [78]:
df2 = pd.DataFrame([[-42.6, np.nan, -8.2],
                    [-5., 1.6, 4]],
                   index=[1, 2])

In [79]:
df1

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN

In [80]:
df2

      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [81]:
df1.combine_first(df2)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0

注意这时候原来有值得地方并不会被替换

也可以使用`update`方法用df2的值替换df1中的对应值,这时是修改df1而不是生成新的表

In [82]:
df1.update(df2)

In [83]:
df1

      0    1    2
0   NaN  3.0  5.0
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

## 时间序列处理

### merge_ordered

`merge_ordered()`函数允许组合时间序列和其他有序数据。特别是它有一个可选的fill_method关键字来填充/内插缺失的数据：

In [84]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K1', 'K2'],
                     'lv': [1, 2, 3, 4],
                    's': ['a', 'b', 'c', 'd']})

In [85]:
right = pd.DataFrame({'k': ['K1', 'K2', 'K4'], 
                      'rv': [1, 2, 3]})

In [86]:
left

    k  lv  s
0  K0   1  a
1  K1   2  b
2  K1   3  c
3  K2   4  d

In [87]:
right

    k  rv
0  K1   1
1  K2   2
2  K4   3

In [88]:
pd.merge_ordered(left, right, fill_method='ffill', left_by='s')

     k   lv  s   rv
0   K0  1.0  a  NaN
1   K1  1.0  a  1.0
2   K2  1.0  a  2.0
3   K4  1.0  a  3.0
4   K1  2.0  b  1.0
5   K2  2.0  b  2.0
6   K4  2.0  b  3.0
7   K1  3.0  c  1.0
8   K2  3.0  c  2.0
9   K4  3.0  c  3.0
10  K1  NaN  d  1.0
11  K2  4.0  d  2.0
12  K4  4.0  d  3.0

### merge_asof
`merge_asof()`在行为上,除了匹配最相近的值而不是相等的值这点外,类似left-join.

asof合并可以执行分组合并。除了on键上最接近的匹配之外，这与by键地位相似。

In [89]:
trades = pd.DataFrame({
    'time': pd.to_datetime(['20160525 13:30:00.023',
                            '20160525 13:30:00.038',
                            '20160525 13:30:00.048',
                            '20160525 13:30:00.048',
                            '20160525 13:30:00.048']),
     'ticker': ['MSFT', 'MSFT',
               'GOOG', 'GOOG', 'AAPL'],
     'price': [51.95, 51.95,
              720.77, 720.92, 98.00],
     'quantity': [75, 155,
                100, 100, 100]},
      columns=['time', 'ticker', 'price', 'quantity'])

In [90]:
quotes = pd.DataFrame({
    'time': pd.to_datetime(['20160525 13:30:00.023',
                           '20160525 13:30:00.023',
                           '20160525 13:30:00.030',
                           '20160525 13:30:00.041',
                           '20160525 13:30:00.048',
                            '20160525 13:30:00.049',
                            '20160525 13:30:00.072',
                            '20160525 13:30:00.075']),
    'ticker': ['GOOG', 'MSFT', 'MSFT',
               'MSFT', 'GOOG', 'AAPL', 'GOOG',
               'MSFT'],
    'bid': [720.50, 51.95, 51.97, 51.99,
            720.50, 97.99, 720.50, 52.01],
    'ask': [720.93, 51.96, 51.98, 52.00,
            720.93, 98.01, 720.88, 52.03]},
   columns=['time', 'ticker', 'bid', 'ask'])

In [91]:
trades

                     time ticker   price  quantity
0 2016-05-25 13:30:00.023   MSFT   51.95        75
1 2016-05-25 13:30:00.038   MSFT   51.95       155
2 2016-05-25 13:30:00.048   GOOG  720.77       100
3 2016-05-25 13:30:00.048   GOOG  720.92       100
4 2016-05-25 13:30:00.048   AAPL   98.00       100

In [92]:
quotes

                     time ticker     bid     ask
0 2016-05-25 13:30:00.023   GOOG  720.50  720.93
1 2016-05-25 13:30:00.023   MSFT   51.95   51.96
2 2016-05-25 13:30:00.030   MSFT   51.97   51.98
3 2016-05-25 13:30:00.041   MSFT   51.99   52.00
4 2016-05-25 13:30:00.048   GOOG  720.50  720.93
5 2016-05-25 13:30:00.049   AAPL   97.99   98.01
6 2016-05-25 13:30:00.072   GOOG  720.50  720.88
7 2016-05-25 13:30:00.075   MSFT   52.01   52.03

In [93]:
pd.merge_asof(trades, quotes,
              on='time',
              by='ticker')

                     time ticker   price  quantity     bid     ask
0 2016-05-25 13:30:00.023   MSFT   51.95        75   51.95   51.96
1 2016-05-25 13:30:00.038   MSFT   51.95       155   51.97   51.98
2 2016-05-25 13:30:00.048   GOOG  720.77       100  720.50  720.93
3 2016-05-25 13:30:00.048   GOOG  720.92       100  720.50  720.93
4 2016-05-25 13:30:00.048   AAPL   98.00       100     NaN     NaN

In [94]:
pd.merge_asof(trades, quotes,
              on='time',
              by='ticker',
              tolerance=pd.Timedelta('2ms'))

                     time ticker   price  quantity     bid     ask
0 2016-05-25 13:30:00.023   MSFT   51.95        75   51.95   51.96
1 2016-05-25 13:30:00.038   MSFT   51.95       155     NaN     NaN
2 2016-05-25 13:30:00.048   GOOG  720.77       100  720.50  720.93
3 2016-05-25 13:30:00.048   GOOG  720.92       100  720.50  720.93
4 2016-05-25 13:30:00.048   AAPL   98.00       100     NaN     NaN

In [95]:
pd.merge_asof(trades, quotes,
               on='time',
               by='ticker',
               tolerance=pd.Timedelta('10ms'),
               allow_exact_matches=False)

                     time ticker   price  quantity    bid    ask
0 2016-05-25 13:30:00.023   MSFT   51.95        75    NaN    NaN
1 2016-05-25 13:30:00.038   MSFT   51.95       155  51.97  51.98
2 2016-05-25 13:30:00.048   GOOG  720.77       100    NaN    NaN
3 2016-05-25 13:30:00.048   GOOG  720.92       100    NaN    NaN
4 2016-05-25 13:30:00.048   AAPL   98.00       100    NaN    NaN