[Pony](https://docs.ponyorm.com/firststeps.html)是一个独特的ORM,它提供了干净的接口和select表达式的列表解析式检索功能,非常的pythonic,更有买点的是它还额外提供了一个根据类图直接生成代码的工具,非常适合原型开发

In [1]:
from pony import orm

# 创建与连接数据库

In [2]:
!pwd

/Users/huangsizhe/workspace/post/ComputerScience/CodingLanguages/Python_Total_Tutorial/常用的第三方库/数据库相关/ORM

In [3]:
db = orm.Database('sqlite', '/Users/huangsizhe/workspace/post/ComputerScience/CodingLanguages/Python_Total_Tutorial/常用的第三方库/数据库相关/ORM/ORMtest_db.sqlite', create_db=True)

In [4]:
## 数据库中表格的类

In [5]:
class Person(db.Entity):
    name = orm.Required(str)
    age = orm.Required(int)
    cars = orm.Set("Car")

In [6]:
class Car(db.Entity):
    make = orm.Required(str)
    model = orm.Required(str)
    owner = orm.Required(Person)

In [7]:
orm.show(Person)

class Person(Entity):
    id = PrimaryKey(int, auto=True)
    name = Required(str)
    age = Required(int)
    cars = Set(Car)

## 创建表格

> 新的数据库,里面没这些表格

In [8]:
db.generate_mapping(create_tables=True)

> 老数据库绑定表格

    from my_project.my_entities import db

    db.bind('sqlite', 'test_db.sqlite', create_db=True)

    db.generate_mapping(create_tables=True)

## 创建条目

In [9]:
p1 = Person(name='John', age=20)
p2 = Person(name='Mary', age=22)
p3 = Person(name='Bob', age=30)
c1 = Car(make='Toyota', model='Prius', owner=p2)
c2 = Car(make='Ford', model='Explorer', owner=p3)

In [10]:
orm.commit()

## 查询

In [11]:
orm.select(p for p in Person if p.age > 20)[:]

[Person[3], Person[4], Person[6], Person[7]]

In [12]:
orm.select(p for p in Person if p.age > 20).show()

id|name|age
--+----+---
3 |Mary|23
4 |Bob |30
6 |Mary|22
7 |Bob |30

In [15]:
orm.select(p for p in Person if p.name =="a")[:]

[]

In [19]:
s = Person.get(name="a")

In [21]:
type(s)

NoneType

In [22]:
type(None)

NoneType

In [27]:
Car.select().show()

id|make  |model   |owner
--+------+--------+---------
1 |Toyota|Prius   |Person[3]
2 |Ford  |Explorer|Person[4]

In [35]:
Person.select().show()

id|name|age
--+----+---
1 |John|20
2 |John|20
3 |Mary|22
4 |Bob |30

In [32]:
Car.get(id=1).owner

Person[3]

## 更新数据

In [37]:
Person.get(name="Mary").age += 1

In [38]:
Person.get(name="Mary").age

23

In [40]:
orm.commit()

## 删除数据

In [42]:
Person.get(id=1).delete()

In [43]:
Person.select().show()

id|name|age
--+----+---
2 |John|20
3 |Mary|23
4 |Bob |30

In [44]:
orm.commit()

## 定义关系

> 一对一

一对一关系有两种:

+ Optional-Required:

+ Optional-Optional:

    class Person(db.Entity):
        passport = orm.Optional("Passport")

    class Passport(db.Entity):
        person = orm.Required("Person")

> 一对多

一对多也是两种可能

+ Set-Required

+ Set-Optional


   
   
    class Order(db.Entity):
        items = Set("OrderItem")

    class OrderItem(db.Entity):
        order = Required(Order)

> 多对多

多对多就是用Set

    class Product(db.Entity):
        tags = Set("Tag")

    class Tag(db.Entity):
        products = Set(Product)

> 提及自己

这种类型分为堆成关系和非对称关系,比如你是你妈妈的孩子,你妈妈不是你的孩子,这种就是非对称关系,比如你是你老婆的配偶 ,你老婆也是你的配偶,这就是对称关系,这两种又可以分成一对多,一对一这两种,也就是一共四种关系模型


    class Person(db.Entity):
        name = Required(str)
        spouse = Optional("Person", reverse="spouse") # 配偶在Person中找,是一对一(要不就犯法了),对称关系
        friends = Set("Person", reverse="friends")    # 好友也在Person中找,是一对多,对称关系
        manager = Optional("Person", reverse="employees") # 主管,一对一,非对称
        employees = Set("Person", reverse="manager") # 员工,一对多,非对称

> 多重关系

多重关系比较复杂了,像下面这个推特的模型,用户写的推特和用户之间的关系就要像如下的定义方式

    class User(db.Entity):
        tweets = Set("Tweet", reverse="author")
        favorites = Set("Tweet", reverse="favorited")

    class Tweet(db.Entity):
        author = Required(User, reverse="tweets")
        favorited = Set(User, reverse="favorites")

## ER图原型设计

pony官方还给了一个原型设计的工具https://editor.ponyorm.com/